/* --- Шрифты --- */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700;800&family=Rubik:wght@400;700&display=swap");

/* --- Обнуление --- */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul,
ol,
li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-style: inherit;
}
html,
body {
    height: 100%;
    line-height: 1;
}

/* --- GLOBAL --- */
body {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #616161;
}

[class*="__container"] {
    max-width: 1087px;
    margin: 0 auto;
    padding: 0 15px;
}

.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.main {
    flex: 1 1 auto;
}
.icon-menu,
.close-icon-menu {
    display: none;
}
.button {
    display: inline-block;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 10px;
    line-height: 1.2;
    letter-spacing: 1.4px;
    color: #fcfdfe;
    background-color: #ec5863;
    padding: 15px 30px;
    border-radius: 5px;
    transition: all 0.5s;
}
.button:hover {
    background-color: #ff0011;
}
.button--blue {
    background-color: #4285f4;
}
.button--blue:hover {
    background-color: #0062ff;
}
.text-block__title {
    font-weight: 700;
    font-size: 44px;
    line-height: 126%;
    color: #000000;
    margin-bottom: 12px;
}
.text-block__title--blue span {
    color: #4285f4;
}
.text-block__title span {
    color: #ec5863;
}
.text-block__text {
    line-height: 138%;
    letter-spacing: 0.5px;
    margin-bottom: 24px;
}

/* --- HEADER --- */
.header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}
.header__container {
    display: flex;
    min-height: 114px;
    align-items: center;
}
.header__logo {
    position: relative;
    z-index: 5;
}
.header__menu {
    flex: 1 1 auto;
}
.header__button {
    position: relative;
    z-index: 5;
    flex: 0 0 252px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.menu {
    display: flex;
    justify-content: flex-end;
}
.menu__list {
    display: flex;
}
.menu__item {
    margin-right: 40px;
}
.menu__link {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 10px;
    line-height: 120%;
    letter-spacing: 1.4px;
    color: #000;
}
.menu__link:hover {
    text-decoration: underline;
}

/* --- /HEADER --- */

/* --- GET-STARTED --- */
.get-started {
    background-color: #fafbfd;
}
.get-started__container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 153px 15px 48px 15px;
    position: relative;
}
.get-started__container::before {
    content: "";
    position: absolute;
    width: 100vw;
    height: 100%;
    right: 267px;
    top: 0;
    background-color: #ec5863;
    border-radius: 30px 0px 0px 30px;
    transform: translate(100%, 0);
}
.get-started__content {
    flex: 0 1 48%;
    padding: 0px 18px 0px 18px;
}
.get-started__text-block {
    max-width: 420px;
}
.get-started__video {
    flex: 1 1 100%;
    padding: 60px 0px 0px 18px;
}
.get-started__image {
    flex: 0 1 52%;
    padding: 0px 8px 0px 0px;
    z-index: 2;
}
.get-started__image img {
    max-width: 100%;
}

.video-get-started {
    display: inline-flex;
    align-items: center;
}
.video-get-started__icon {
    flex: 0 0 44px;
}
.video-get-started__body {
    padding: 0px 0px 0px 12px;
}
.video-get-started__title {
    font-size: 13px;
    line-height: 126%;
    letter-spacing: 0.5px;
    color: #b0b0b0;
    margin-bottom: 5px;
    transition: all 0.5s;
}
.video-get-started__text {
    font-size: 9px;
    line-height: 126%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #000;
    transition: all 0.5s;
}
.video-get-started:hover .video-get-started__title {
    color: #000;
}
.video-get-started:hover .video-get-started__text {
    color: #b0b0b0;
}

/* --- /GET-STARTED --- */

/* --- @MEDIA --- */
/* -- PC -- */
@media (max-width: 1086.98px) {
    [class*="__container"] {
        max-width: 970px;
    }
}
/* -- TABLET -- */
@media (max-width: 991.98px) {
    [class*="__container"] {
        max-width: 750px;
    }
    .header__container {
        min-height: 80px;
    }
    .header__button {
        flex: 0 0 170px;
    }
    .menu__item {
        margin-right: 30px;
    }
    .get-started__container::before {
        right: 185px;
        border-radius: 20px 0px 0px 20px;
    }
}

/* -- MOBILE -- */
@media (max-width: 767.98px) {
    [class*="__container"] {
        max-width: none;
    }
    .close-icon-menu,
    .icon-menu {
        position: relative;
        flex: 0 0 30px;
        height: 18px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 20px;
    }
    .icon-menu::before,
    .icon-menu::after {
        content: "";
        background-color: #000;
        height: 2px;
    }
    .close-icon-menu::before,
    .close-icon-menu::after {
        content: "";
        background-color: #000;
        height: 2px;
    }
    .close-icon-menu::before {
        transform: rotate(45deg) translateY(11px);
    }
    .close-icon-menu::after {
        transform: rotate(-45deg) translateY(-11px);
    }

    .icon-menu span {
        background-color: #000;
        height: 2px;
    }
    .close-icon-menu {
        display: none;
    }
    .menu__body {
        position: fixed;
        overflow: auto;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: #fff;
        padding: 90px 15px 30px 15px;
        transition: all 0.5s;
    }
    .header:target .menu__body {
        left: 0;
    }
    .header:target .menu__body::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 80px;
        background-color: #fff;
    }
    .menu__list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .menu__item {
        margin-right: 0px;
        margin-bottom: 25px;
    }
    .menu__item:last-child {
        margin-bottom: 0px;
    }
    .menu__link {
        color: #000;
        font-size: 20px;
    }
    .header:target .icon-menu {
        display: none;
    }
    .header:target .close-icon-menu {
        display: flex;
    }
    .get-started__container::before {
        display: none;
    }
    .get-started__container {
        padding: 100px 15px 30px 15px;
    }
    .get-started__text-block {
        max-width: none;
    }

    .get-started__content {
        flex: 1 1 100%;
        padding: 0;
    }
    .get-started__image {
        flex: 1 1 100%;
        text-align: center;
        padding: 30px 0;
    }
    .get-started__video {
        padding: 0;
    }

    .text-block__title {
        line-height: 114%;
        font-size: 34px;
    }
}
/* -- MOBILE SMALL -- */
@media (max-width: 479.98px) {
    .header__logo {
        flex: 0 0 40px;
        overflow: hidden;
    }
}
/* --- /@MEDIA */
